.app-wrapper {
    width:  960px;
    margin: auto;
    display: grid;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 70px 1fr;
    grid-template-columns: 2fr 10fr;
    /* grid-gap: 10px; */
}





